**/*.svg
package.json
.umi
.umi-production
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
/dist
src/assets/**
.idea/**
.gitignore
.prettierignore
*.jpg
/scripts
